/* Хэдер */
.region-list {
    padding: 3px 23px;
    border: none;
    font-size: 1.071rem;
    font-weight: 700;
    text-decoration: underline;
    background-image: var(--icon-location), var(--icon-arrow);
    background-repeat: no-repeat, no-repeat;
    background-position-x: 0, 93%;
    background-position-y: center, center;
    background-size: 16px, 9px;
}

.header-person__inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-family: "ProximaNovaCond", sans-serif;
}

.header-person__links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-person__links-mobile {
    display: none;
}

.header-person__socials {
    padding-left: 25px;
}

.header-person__phone {
    padding-left: 22px;
    font-size: 1.214rem;
    font-weight: 500;
    background-image: var(--icon-phone);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 15px;
}

.header-person__auth {
    position: relative;
    font-size: 1.071rem;
    font-weight: 500;
    border-bottom: 1px dashed var(--color-dark);
}

.header-person__auth::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 2px;
    width: 30px;
    height: 15px;
    background-image: var(--icon-user);
    background-repeat: no-repeat;
    background-position: center;
}

.header-person__backet .backet__link {
    position: relative;
    font-size: 1.071rem;
    font-weight: 500;
    border-bottom: 1px dashed var(--color-dark);
}

.header-person__backet .backet__link::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 2px;
    width: 30px;
    height: 15px;
    background-image: var(--icon-backet);
    background-repeat: no-repeat;
    background-position-x: 7px;
    background-position-y: center;
    background-size: 16px;
}

.header-person__backet .backet__count {
    font-family: "Georgia", serif;
    font-style: italic;
    color: var(--color-default);
}

.header-nav {
    background-color: var(--color-dark);
}

.header-nav__inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.header-nav__logo {
    padding-left: 25px;
}

.header-menu .header-menu__link {
    margin-left: 45px;
    font-family: "ProximaNovaCond", sans-serif;
    font-size: 1.071rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
    letter-spacing: 1.6px;
}

.header-menu .header-menu__link.active {
    border-bottom: 1px dashed var(--color-light);
}

.header-nav__button {
    display: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' height='512px' viewBox='0 -53 384 384' width='512px' class=''%3E%3Cg%3E%3Cpath d='m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23ffffff'/%3E%3Cpath d='m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23ffffff'/%3E%3Cpath d='m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    box-shadow: none;
    z-index: 2;
}

.header-nav__button--close {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' height='512px' viewBox='0 0 311 311.07733' width='512px' class=''%3E%3Cg%3E%3Cpath d='m16.035156 311.078125c-4.097656 0-8.195312-1.558594-11.308594-4.695313-6.25-6.25-6.25-16.382812 0-22.632812l279.0625-279.0625c6.25-6.25 16.382813-6.25 22.632813 0s6.25 16.382812 0 22.636719l-279.058594 279.058593c-3.136719 3.117188-7.234375 4.695313-11.328125 4.695313zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%235584ff'/%3E%3Cpath d='m295.117188 311.078125c-4.097657 0-8.191407-1.558594-11.308594-4.695313l-279.082032-279.058593c-6.25-6.253907-6.25-16.386719 0-22.636719s16.382813-6.25 22.636719 0l279.058594 279.0625c6.25 6.25 6.25 16.382812 0 22.632812-3.136719 3.117188-7.230469 4.695313-11.304687 4.695313zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%235584ff'/%3E%3C/g%3E%3C/svg%3E%0A")
}

/* Блок с баннером */
.hero {
    margin-bottom: 35px;
    background-color: var(--color-default);
    background-image: url(../images/main-back.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-content {
    align-self: center;
    min-width: 55%;
    text-align: center;
    color: var(--color-white);
}

.hero-content::before {
    content: "";
    display: block;
    width: 30%;
    height: 3px;
    margin: auto;
    margin-bottom: 25px;
    background-color: var(--color-white);
}

.hero-content::after {
    content: "";
    display: block;
    width: 30%;
    height: 3px;
    margin: auto;
    margin-top: 25px;
    background-color: var(--color-white);
}

.hero-content__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.429rem;
}

.hero__img {
    display: flex;
}

/* Блок со списком статей */
.blog {
    margin-bottom: 15px;
}

.blog-filter {
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 30px;
}

.blog-filter .category__name {
    display: block;
    padding: 10px 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid transparent;
    cursor: pointer;
}

.blog-filter  input:focus ~.category__name,
.blog-filter  input:checked ~.category__name,
.blog-filter .category__name:hover {
    color: var(--color-default);
    border-color: var(--color-default);
}

.blog-articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 328px));
    grid-gap: 8px;
    justify-content: center;
}

.article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 328px;
    padding: 25px;
    text-align: center;
    color: var(--color-white);
    box-sizing: border-box;
}

.article__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.571rem;
    font-weight: 700;
    text-transform: uppercase;
}

.article__brand {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: "Georgia", serif;
    font-size: 1.571rem;
    text-transform: uppercase;
}

.article__desc {
    width: 80%;
    margin: 0 auto;
    font-size: 0.857rem;
    text-transform: uppercase;
}

.article__desc--back {
    font-size: 1.429rem;
    background-color: #b57f4590;
    padding: 10px 25px;
    text-transform: unset;
}

.article__date {
    display: block;
    width: 65%;
    margin: 0 auto;
    padding: 13px 10px;
    font-size: 0.857rem;
    text-transform: uppercase;
    border-top: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
}

.article__tag {
    position: absolute;
    top: 17px;
    right: -4px;
    padding: 6px 20px;
    background-color: var(--color-default);
}

.article__tag::after {
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    width: 1px;
    height: 1px;
    border: 3px solid transparent;
    border-top-color: #926331;
    z-index: -1;
}

.article__tag .article__tag-text {
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 1.143rem;
}

.article__brand-del {
    display: block;
}

.article__brand-del::after,
.article__brand-del::before {
    content: "";
    display: inline-block;
    width: 15%;
    height: 1px;
    margin: 0 10px;
    vertical-align: middle;
    background-color: var(--color-white);
}

/* Блок с описанием сроков*/
.tailoring {
    padding: 85px 0;
    background-color: var(--color-default);
    background-image: url(../images/tailoring-back.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tailoring-content {
    margin: auto;
    font-size: 1.714rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
    line-height: 1.6;
}

.tailoring-content__title {
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 2rem;
    font-weight: 900;
    text-transform: none;
}

.tailoring__result {
    margin: 30px auto 0 auto;
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 1.429rem;
    text-align: center;
    color: var(--color-white);
}

.tailoring__result::before {
    content: "";
    display: block;
    width: 25%;
    height: 2px;
    margin: auto;
    margin-bottom: 25px;
    background-color: var(--color-white);
}

.tailoring__result::after {
    content: "";
    display: block;
    width: 25%;
    height: 14px;
    margin: auto;
    margin-top: 25px;
    background-image: url(../images/wave.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Блок с брендами */
.brands {
    background-color: var(--color-dark);
    background-image: url(../images/logos-back.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.brands__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 45px 0;
    margin: 0;
}

/* Блок Запись на примерку */
.book-fitting {
    padding: 60px 0 75px 0;
    background-color: #eeeeee;
    background-image: url(../images/form-back.png);
    background-position: top;
    background-repeat: no-repeat;
}

.book-fitting__header {
    padding: 0 0 35px 0;
    text-align: center;
}

.book-fitting__header::after {
    content: "";
    display: block;
    width: 15%;
    height: 2px;
    margin: auto;
    margin-top: 25px;
    background-color: var(--color-dark);
}

.book-fitting__title {
    margin-top: 0;
    font-size: 1.857rem;
    font-weight: 500;
    text-transform: uppercase;
}

.book-fitting__desc {
    font-size: 1.429rem;
}

.book-fitting__form {
    padding: 45px 190px;
    background-color: var(--color-white);
    border: 2px solid var(--color-dark);
}

.form-fitting__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 35px;
    margin-bottom: 35px;
}

.form-fitting__field {
    display: flex;
    flex-wrap: nowrap;
    border: none;
    padding: 0;
    margin: 0;
}

.form-fitting__field > div {
    display: inline-block;
    width: 100%;
}

.form-fitting__field > div:nth-child(2n - 1) {
    margin-left: 30px;
    width: 70%;
}

.form-fitting__field label {
    display: block;
    margin-bottom: 10px;
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 0.929rem;
}

.form-fitting__input,
.form-fitting__select {
    width: 100%;
    color: var(--color-default);
    padding: 10px 10px 10px 35px;
    border: 2px solid var(--color-dark);
    box-sizing: border-box;
}

.form-fitting__input {
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    background-size: 16px;
}

.form-fitting__select {
    background-repeat: no-repeat, no-repeat;
    background-position-x: 10px, 93%;
    background-position-y: center, center;
    background-size: 16px, 9px;
}

.form-fitting__input:focus,
.form-fitting__select:focus {
    outline-color: var(--color-default);
}

.form-fitting__input::placeholder,
.form-fitting__select::placeholder {
    color: var(--color-default);
}

.form-fitting__select--day {
    background-image: var(--icon-calendar), var(--icon-arrow);
}

.form-fitting__select--time {
    background-image: var(--icon-time), var(--icon-arrow);
}

.form-fitting__select--address {
    background-image: var(--icon-location), var(--icon-arrow);
}

.form-fitting__input--name {
    background-image: var(--icon-user);
}

.form-fitting__input--phone {
    background-image: var(--icon-iphone);
}

.form-fitting__btn {
    width: 100%;
    background-color: var(--color-default);
    border-bottom: 3px solid #8b5c28;
    font-size: 1.286rem;
    font-weight: 500;
    color: var(--color-white);
}

.form-fitting__btn:hover {
    filter: brightness(0.95);
}

/* Футер */
.footer-links {
    background-color: #f6f6f6;
    border-top: 1px solid var(--color-middle);
    border-bottom: 1px solid var(--color-middle);
}

.footer-links__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: stretch;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 25px;
    border-right: 1px solid var(--color-middle);
} 

.footer-menu .footer-menu__link {
    padding: 10px 0;
    font-weight: 500;
    color: var(--color-default);
    text-transform: uppercase;
}

.footer-categories {
    column-count: 2;
    column-gap: 80px;
    column-fill: balance;
    padding: 40px 80px;
    border-right: 1px solid var(--color-middle);
    white-space: nowrap;
}

.footer-categories .footer-categories__link {
    display: block;
    padding: 6px 0;
    font-family: "ProximaNovaCond", sans-serif;
    font-size: 1.071rem;
    font-weight: 500;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #4c4c4c;
}

.footer-address {
    padding: 40px 25px;
}

.footer-address__info {
    font-style: normal;
    margin-bottom: 25px;
}

.footer-address__info p {
    margin: 5px 0;
}

.footer-address .footer-address__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-address__link[href^="tel:"] {
    font-weight: 700;
}

.footer-address__link[href^="mailto:"] {
    text-decoration: underline;
    color: var(--color-default);
}

.footer-copyright {
    background-color: #eeeeee;
}

.footer-copyright .footer-copyright__text {
    margin: 0;
    padding: 15px 25px;
    font-size: 0.857rem;
    color: #828181;
}